{{ partial "header.html" . }}

<div class="container">
    <div class="col-sm-12">
        <h1>{{ .Title }}</h1>

        <p>
            {{ if isset .Params "bild" }}
                {{ with .Params.bild }}<img src="/img/{{ . }}" class="col-sm-6 col-xs-8 pull-right">{{ end }}
                <!--har bild-->
            {{ end }}
            {{ if isset .Params "categories" }}
            Kategori: {{ range .Params.categories }}
            <a class="post-category post-category-{{ . }}" href="/categories/{{ . | urlize }}">{{ . }}</a>{{ end }}
            {{ end }}
        </p>

        {{ with .Params.portioner }} <p><span class="glyphicon glyphicon-cutlery"></span> Portioner: {{ . }} </p> {{ end }}

        {{ with .Params.tid }} <p> <span class="glyphicon glyphicon-time"></span> Tid: {{ . }} </p> {{ end }}
        <section>
            {{ .Content }}
        </section>
        <time>{{ .Date.Format "Monday, January 2, 2006" }}</time>
        <p>
            {{ if isset .Params "mainingredients" }}
            Huvudingrediens: {{ range .Params.mainingredients }}
            <a class="post-category post-category-{{ . }}" href="/mainingredients/{{ . | urlize }}">{{ . }}</a>{{ end }}
            {{ end }}
        </p>
    </div>
</div>

{{ partial "footer.html" . }}
